.upcoming-event-calendar a {
	text-decoration: none;
	color: #000;
}

.upcoming-event {
	overflow: hidden;
	margin-bottom: 5px;
	padding: 10px;
}

.upcoming-event-block {
	display: block;
	float: left;
	text-align: center;
	width: 42px;
	margin-right: 10px;
	box-shadow: 0 0 15px rgba( 0, 0, 0, 0.5 );
}

.upcoming-event-month {
	height: 18px;
	line-height: 1.3;
	text-transform: uppercase;
}

.upcoming-event-day {
	font-size: 26px;
	font-weight: bold;
	height: 29px;
	line-height: 1em;
}

.upcoming-event-date {
	line-height: 1.5em;
	font-weight: bold;
	font-style: italic;
}

.upcoming-event-desc {

}

